# Introduction

In this notebook, I will explore matrix factorization using singular value decomposition and its utility in designing simple recommender systems

In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd

# Data: Twitch Stream Viewers

Below is a dataset of users consuming streaming content on Twitch. We retrieved all streamers, and all users connected in their respective chats, every 10 minutes during 43 days. `100k.csv` is a subset of 100k users. For the purposes of this demonstration, we shall only use a subset of this data. It contains the following attributes:
- User ID (anonymized)
- Stream ID
- Streamer username
- Time start
- Time stop

Start and stop times are provided as integers and represent periods of 10 minutes. Stream ID could be used to retrieve a single broadcast segment from a streamer (not used in our work).

<b>Data citation:<br></b>
Recommendation on Live-Streaming Platforms: Dynamic Availability and Repeat Consumption<br>
Jérémie Rappaz, Julian McAuley and Karl Aberer<br>
RecSys, 2021

The dataset can be found here: https://drive.google.com/drive/folders/1BD8m7a8m7onaifZay05yYjaLxyVV40si/

In [2]:
df = pd.read_csv('100k_a.csv', names=['UserID', 'StreamID', 'Streamer', 'Start', 'Stop']).head(1000000)
df

        UserID     StreamID     Streamer  Start  Stop
0            1  33842865744     mithrain    154   156
1            1  33846768288        alptv    166   169
2            1  33886469056     mithrain    587   588
3            1  33887624992         wtcn    589   591
4            1  33890145056    jrokezftw    591   594
...        ...          ...          ...    ...   ...
999995   33132  34130329216   sheriffeli   3158  3159
999996   33132  34139249856  grizzly_ben   3268  3269
999997   33132  34140588288       kotton   3305  3308
999998   33132  34150050464        iipog   3412  3431
999999   33132  34152722640       itmejp   3425  3428

[1000000 rows x 5 columns]

## Recommendation Task

We wish to recommend new Twitch streamers to users from their Twitch stream video consumption habits. To achieve this task,  we shall engineer a new feature `Time` from the `Start` and `Stop` attributes

In [3]:
df['Time'] = df['Stop'] - df['Start']
df = df[['UserID', 'Streamer', 'StreamID', 'Time']]
df

        UserID     Streamer     StreamID  Time
0            1     mithrain  33842865744     2
1            1        alptv  33846768288     3
2            1     mithrain  33886469056     1
3            1         wtcn  33887624992     2
4            1    jrokezftw  33890145056     3
...        ...          ...          ...   ...
999995   33132   sheriffeli  34130329216     1
999996   33132  grizzly_ben  34139249856     1
999997   33132       kotton  34140588288     3
999998   33132        iipog  34150050464    19
999999   33132       itmejp  34152722640     3

[1000000 rows x 4 columns]

# Data Wrangling

We shall only recommend streamers who stream frequently. To achieve this, we shall count the number of `StreamID`'s by `Streamer`

In [4]:
streams = df.groupby('Streamer').agg({'StreamID': 'count'})
streams.columns = ['Streams']
streams = streams.reset_index().sort_values('Streams')
df = df.merge(streams, on='Streamer')

However, if a user has not spenT any time watching streams, the corresponding matrix factorisation rating will be 0. SO there is a cold start problem. Therefore, we shall only recommend streamers to users who have watched enough streams

In [5]:
streams_watched = df.groupby('UserID').agg({'StreamID': 'count'})
streams_watched.columns = ['Streams Watched']
streams_watched = streams_watched.reset_index().sort_values('Streams Watched')
df = df.merge(streams_watched, on='UserID')
df

        UserID      Streamer     StreamID  Time  Streams  Streams Watched
0            1      mithrain  33842865744     2     2215               50
1            1      mithrain  33886469056     1     2215               50
2            1      mithrain  34060922080     1     2215               50
3            1      mithrain  34077379792     2     2215               50
4            1      mithrain  34157036272     1     2215               50
...        ...           ...          ...   ...      ...              ...
999995   33033     foolz0104  34024157728     5        1                9
999996   33033     royalstsp  34048345920     5        1                9
999997   33033  mutombo_gold  34163700464     4        1                9
999998   33033      rolfmans  34166886416     6        1                9
999999   33033     damediddy  34182137264     2        1                9

[1000000 rows x 6 columns]

To achieve this, we shall eliminate the bottom quartile of streamers and stream watchers

In [6]:
df.describe()

,UserID,StreamID,Time,Streams,Streams Watched
count,1000000.000000,1.000000e+06,1000000.000000,1000000.000000,1000000.000000
mean,16649.328595,3.412987e+10,3.124577,1135.873188,67.445316
std,9503.445895,1.681341e+08,4.214894,2663.644648,50.291451
min,1.000000,3.380212e+10,1.000000,1.000000,5.000000
25%,8420.000000,3.398890e+10,1.000000,25.000000,27.000000
50%,16662.000000,3.413037e+10,1.000000,186.000000,57.000000
75%,24811.000000,3.427349e+10,3.000000,893.000000,98.000000
max,33132.000000,3.441642e+10,83.000000,15309.000000,309.000000

In [7]:
df = df[(df['Streams'] > 25) & (df['Streams Watched'] > 27)]

# Generate Recommendation Matrix

We wish to capture the relationship between user's stream consumption habits and the streamers they watch. We can achieve this by generating a sparse matrix of `UserID`s and `Streamer`s where the values are `Time`

In [11]:
def overall_time(watch_time, norm_method = 'std'):
    M = watch_time.groupby(['UserID', 'Streamer']).agg({'Time': 'sum'}).reset_index()
    M = M.pivot(index = 'UserID', columns = 'Streamer', values = 'Time')
    
    # optional normalization
    if norm_method == 'std':
        M = (M - M.mean()) / M.std()
    elif norm_method == 'norm':
        M = (M - M.min()) / (M.max() - M.min())
    
    M = M.fillna(0)
    
    return M.astype('float32')

In [12]:
M = overall_time(df)
M

Streamer,0nuqtive,10000days,109ace,1adrianaries1,1buhorpaduha1,1drakonz,1mpala,1pvcs,1tsz1rk,1ukeofficial,...,zugorow,zuliezulie,zulu,zulzorander,zumi,zuthar13,zvonimirtv,zwag,zzamtiger0310,zzzerrr
UserID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33116,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33117,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
33132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

We have 11,303 unique users and 4699 unique streamers in our sparse matrix

In [13]:
user_ids = M.index
streamers = M.columns

# Matrix Factorization with SVD

Suppose we have a (pivot table) sparse matrix M of all users and all contents and values are time spent. We can factorize that matrix `M` $(n \times m)$ into three matrices `u` $(n \times n)$, `s` $(n \times m)$, and `v` $(m \times m)$ using SVD. Implicitly, `u` contains generic features that describe users and `v` contains features describing streamers, while `s` contains feature weights along the diagonal.

We can then multiply any user row in `u` with its associated weight in `s` and any streamer column in `v` transpose to determine a score (1x1) for that streamer for said user. We can then use this score to determine and sort suggestions.

This is an alternative to content-based filtering where we decide explicitly the features of the content. Here, the features describing the users and streamers are implicit in the time spent watching the streams.

In [14]:
def factorize_matrix(M):
    return np.linalg.svd(M, full_matrices=True)

def recommendation(u, s, v, user_num, top_n):
    true_s = np.zeros((u.shape[1], v.shape[0]))
    true_s[:s.size, :s.size] = np.diag(s)

    user = np.dot(u[user_num], true_s)
    ratings = np.dot(user, v)

    top_n_indices = np.argsort(ratings)[-top_n:] - 1

    return top_n_indices, ratings

In [15]:
u, s, v = factorize_matrix(M)

# Results

Let us closely examine the generated recommendations for a particular user. Expect a long runtime for the cell below

In [19]:
indices, ratings = recommendation(u, s, v, 1, 5)

In [20]:
df[df['UserID'] == 1]

    UserID         Streamer     StreamID  Time  Streams  Streams Watched
0        1         mithrain  33842865744     2     2215               50
1        1         mithrain  33886469056     1     2215               50
2        1         mithrain  34060922080     1     2215               50
3        1         mithrain  34077379792     2     2215               50
4        1         mithrain  34157036272     1     2215               50
5        1         mithrain  34195515568     1     2215               50
6        1         mithrain  34233524528     1     2215               50
7        1         mithrain  34405646144     1     2215               50
8        1            alptv  33846768288     3      104               50
9        1             wtcn  33887624992     2     1526               50
10       1             wtcn  33942837056     2     1526               50
11       1             wtcn  34188146896     2     1526               50
12       1             wtcn  34294416912     1     1526               50
13       1             wtcn  34338247728     4     1526               50
14       1        jrokezftw  33890145056     3      680               50
15       1        jrokezftw  34277715952     1      680               50
16       1      berkriptepe  33903958784     3      297               50
17       1  kendinemuzisyen  33929318864    15     1500               50
18       1  kendinemuzisyen  33955351648     2     1500               50
19       1  kendinemuzisyen  34169481232     1     1500               50
20       1  kendinemuzisyen  34352816576     7     1500               50
21       1  kendinemuzisyen  34376626624     7     1500               50
22       1          unlostv  34062621584     2      196               50
23       1          unlostv  34185325968     4      196               50
24       1             zeon  34078096176     1      491               50
25       1             zeon  34082259232     1      491               50
26       1             zeon  34211667200     1      491               50
27       1             zeon  34249946480     2      491               50
28       1          elraenn  34079135968     1      757               50
29       1          elraenn  34236660832     1      757               50
30       1          jahrein  34188931888     3      990               50
31       1          jahrein  34294941584     2      990               50
32       1          jahrein  34336356640     4      990               50
33       1       raufbaba25  34198556368     1      155               50
34       1       raufbaba25  34309988496     3      155               50
35       1       ogrencievi  34222789744     1      147               50
36       1       ogrencievi  34250346896     3      147               50
37       1       ogrencievi  34312455360     1      147               50
39       1      zeusidiouss  34263962048     2      407               50
40       1      zeusidiouss  34309707568     1      407               50
42       1          towshun  34326061472     4       57               50
43       1          towshun  34339937248     1       57               50
44       1          towshun  34395247264     1       57               50
45       1         esl_csgo  34328509984     1     4269               50
46       1          grimnax  34334577616     2      343               50
47       1          grimnax  34347669376     4      343               50
48       1            jtgtv  34334859328     4      536               50
49       1            jtgtv  34391109664     1      536               50

It appears that this user enjoys watching Turkish FIFA and live gameplay Twitch streamers

The algorithm has correctly identified this trend and is recommending more Turkish gameplay channels as well as a few Turkish musicians. This is impressive considering that there was no feature engineering involved!

In [21]:
streamers[indices]

Index(['yanni', 'jungjil', 'handiofiblood', 'saddota2tv', 'sakonoko_game'], dtype='object', name='Streamer')

In [22]:
ratings[indices]

array([ 1.52197052e-09,  6.36350059e-10,  3.11045193e-10, -2.42000280e-09,
       -2.39867151e-10])

# Discussion

Matrix factorization is an alternative to content-based filtering where we decide explicitly the features of the content. Here, the features describing the users and streamers are implicit in the time spent watching the streams. This makes it very attractive as as a recommender system as it eliminates the feature engineering process.

However, This huge sparse matrix requires a lot of computing power and time to factorize. Parallelising this process is a necessity with large datasets.

Therefore, although matrix factorisation is one of the easiest ways to generate recommendations using some simple linear algebra concepts, it poses difficulties dealing with large amounts of data.